---
---

@import "{{ site.theme }}";

#downloads {
    display: none;
}

.stores {
    margin-left: -40px;
    li {
        float: left;
        margin-left: 40px;
    }
}

.clear {
    clear: both;
    margin-bottom: 20px;
}

#me {
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}
